#{set title:'Home' /}


#{list items:persons, as:'person'}
----------------------------------------------------<br>
authorId: ${person.authorId ?: 'null'} <br>
id: ${person.id ?: 'null'} <br>
type: ${person.type ?: 'null'} <br>
firstName: ${person.firstName ?: 'null'} <br>
lastName: ${person.lastName ?: 'null'} <br>
title: ${person.title ?: 'null'} <br>
background: ${person.background ?: 'null'} <br>
linkedinUrl: ${person.linkedinUrl ?: 'null'} <br>
avatarUrl: ${person.avatarUrl ?: 'null'} <br>
companyId: ${person.companyId ?: 'null'} <br>
companyName: ${person.companyName ?: 'null'} <br>
createdAt: ${person.createdAt ?: 'null'} <br>
updatedAt: ${person.updatedAt ?: 'null'} <br>
visibleTo: ${person.visibleTo ?: 'null'} <br>
groupId: ${person.groupId ?: 'null'} <br>
ownerId: ${person.ownerId ?: 'null'} <br>
#{/list}


<a href="@{HighRiseController.index()}">Back to form</a>